<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{ page.title || 'RubyFocus Blog' }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/pygments-pastie.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
  <div id="logo">
    <h1><img src="/images/rubyfocus_blog_logo.png"></h1>
  </div>
  <ul id="topmenu">
    <li class="current"><a href="/trainings/selenium/installation-setup/index.html">Training</a></li>
    <!--<li><a href="http://www.free-css.com/">About</a></li>-->
    <!--<li><a href="http://www.free-css.com/">Blog</a></li>-->
    <!--<li><a href="http://www.free-css.com/">Downloads</a></li>-->
    <!--<li><a href="http://www.free-css.com/">Contact</a></li>-->
  </ul>
</div>
<div id="contents">
  <div id="dashbar">
    <h2>About Us</h2>
    <img class="author" src="/images/wolf-ssm.jpg" alt="Wolfram Arnold" />
    <p>RubyFocus is a boutique Ruby-on-Rails consultancy based in San Francisco.</p>
    <p>Our mission is helping companies obtain the most value from their web and mobile applications and helping establish a sustainable development culture.</p>
  </div>
{{ content }}
<ul id="menu">
  <li><a href="/trainings/selenium/installation-setup/index.html">Selenium Installation &amp; Setup</a></li>
  <!--<li><a href="http://www.free-css.com/">volutpat eros</a></li>-->
  <!--<li><a href="http://www.free-css.com/">mauris sit amet</a></li>-->
  <!--<li><a href="http://www.free-css.com/">arcu. Class aptent</a></li>-->
  <!--<li><a href="http://www.free-css.com/">taciti  sociosqu ad</a></li>-->
  <!--<li><a href="http://www.free-css.com/">litora torquent</a></li>-->
  <!--<li><a href="http://www.free-css.com/">nostra, per</a></li>-->
</ul>
<div id="footer"> <a href="http://www.free-css.com/">XHTML 1.0</a> | <a href="http://www.free-css.com/">CSS</a> | Designed by : <a href="http://www.ramblingsoul.com">Ramblingsoul </a></div>
</body>
</html>
